*{
    margin: 0;
    padding: 0;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    box-sizing: border-box;
    /* overflow-x: hidden; */
}
body{
    background-color: #080808;
    color: white;
}
#header{
    width: 100%;
    height: 100vh;
    background-image: url(images/Profile_photo.png) ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.container{
    padding: 5px 5% ;
}
nav{
    width: 100%;
    height: 70px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 20px;
    flex-wrap: wrap;
    position: fixed;
    top:0;
    bottom:auto;
    z-index: 1000;
    background-color: rgba(74, 70, 70, 0.784);
    border-radius: 30px;
}
.logo{
    width: 150px;
}
nav ul li{
    display: inline;
    list-style: none;
    margin: 10px 20px;
}
/* -----hover effect ------*/
nav ul li a{
    color: white;
    text-decoration: none;
    font-size: 18px;
    position: relative;
}
nav ul li a::after{
    content: '';
    width: 0;
    height: 3px;
    background: #4bcbf1;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}
nav ul li a:hover::after{
    width: 100%;
}
.header-text{
    margin-top: 20%;
    margin-right: 10%;
    font-size: 40px;
    float: right;
}
.header-text h1{
    color: #4bcbf1;
    font-size: 90px;
    font-weight: 600;
}
.header-text p{
    font-size: 30px;
}
.p2{
    text-align: right;
    margin-top: 1%;
}
.profile {
    margin-top: 5%;
    margin-left: 50%;
    margin-right: 10%;
    font-size: 30pt;
    float: right;
}
/*------- about section------- */
#about{
    padding: 80px 0;
    color: white ;
}

.profile-pic{
    border-radius: 80%;
    margin-top: 50%;
}
.row{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.about-col-1{
    flex-basis: 60%;
}
.about-col-2{
    flex-basis: 25%;
    height: 650px;
    background-color: antiquewhite;
    text-align: center;
}
.about-col-2 img{
    width: 70%;
    border-radius: 20px;
}
.sub-title{
    font-size: 80px;
    font-weight: 600;
    color: white;
    padding-bottom: 5px;
}
.teb-contents{
    margin-top: 30px ;
    width: 100%;
    flex-basis: 33%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
 }
.tab-contents{
    width: 30%;
    margin: 5px;
    color: white;
    padding: 5px;
    border-radius: 20px;
}
.tab-links{
    text-align: center;
    font-size: 20px;
    background-color: #4bcbf1 ;
    border-radius: 15px;
    padding: 10px; 
}
.tab-contents ul{
    padding: 10px;
    background-color: rgba(242, 130, 113, 0.688);
    border-radius: 10px;
    margin-top: 10px;
}
.tab-contents ul li{
    list-style: none;
    margin-left: 10px;
    margin-bottom: 10px;
    font-size: 14px;
}
.tab-contents ul li span{
    font-size: 16px;
}
/* --------Project-------- */
#project{
    padding: 60px 0;
    color: white ;
}
.project-title{
    font-size: 80px;
    font-weight: 600;
    color: white;
    padding: 20px;
}
.row-2{
    display: flex;
    justify-content: space-between;
    margin-top: 40px;

}
.project-tabs-1{
    flex-basis: 20%;
    padding: 10px;
}
.project-tabs-2{
    flex-basis: 60%;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;

}
.box-1{
    background: #545353;
    height: 250px;
    width: 200px;
    text-align: center;
    border-radius: 15px;
    box-shadow: 1px 1px 5px rgba(255, 255, 255, 0.685);
    margin: 10px;
}
.icon{
    margin: 10px;
    border-radius: 15px;
}
.view-project{
    display: inline-block;
    padding: 5px 10px;
    background-color: #b82f28ca;
    color: white;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
    transition: background 0.3s;
}
.view-project:hover{
    background-color: #e65c2b;
}
.project-links p{
    text-align: left;
    padding-left: 10px;
}
/* --------cotact me-------- */
.contact-me{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}
.contact-row-1{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    flex-basis: 30%;
    height: 500px;
    background-color: rgba(86, 87, 87, 0.541);
    border-radius: 20px;
}
.contact-row-1{
    align-content: center;
    margin-left: 40px;
}
.contact-icon{
    list-style: none;
    padding: 10px 0;
    line-height: 45px;
    margin-top: 8px;
}
.cont-icon:hover{
    opacity: 0.8;
    transform: scale(1.5);  
}
.contact-information{
    color: white;
    padding: 20px;
    list-style: none;
    line-height: 27px;
    font-size: 12pt;
}
.contact-row-2{
    flex-basis: 50%;
    margin-right: 40px;  
}
.contact-title{
    font-size: 80px;
    font-weight: 600;
    color: white;
    padding: 20px;
}
.contact-container {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding: 30px;
    background: #545353;
    border-radius: 20px;
    height: 500px;
    box-shadow: 0 0 15px rgba(255, 255, 255, 0.1);
    justify-self: flex-end;
}
h1 {
    font-size: 28px;
    font-weight: bold;
    margin-bottom: 10px;
}
p {
    font-size: 14px;
    margin-bottom: 20px;
    opacity: 0.7;
}
form {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
label {
    text-align: left;
    font-size: 14px;
    font-weight: bold;
    opacity: 0.8;
}
input, textarea {
    width: 100%;
    padding: 12px;
    border: none;
    background: #222;
    color: #fff;
    font-size: 14px;
    border-radius: 5px;
    outline: none;
}
button {
    background: #ff3b30;
    color: #fff;
    padding: 12px;
    font-size: 16px;
    font-weight: bold;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}
button:hover {
    background: #e62e25;
}

@media screen and (max-width: 480px){
    *{
        overflow-x: hidden;
    }
    body{
        position:relative;
    }
    nav{
        height: 90px;
        padding: 0 15px;
        width: 100%;
        flex-direction: column;
        border-radius: 0;
        justify-content: center;
        position: fixed;
        top: 0;
    }
    .menu-bar-tags{
        overflow-y: visible;
    }
    .logo{
        width: 100px;
        align-items: center;
    }
    nav ul li{
        margin: 0 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    #header{
        margin-top: 90px;
        background-position: top center;
        background-size: contain;
    }
    .header-text{
        margin-top: 40%;
        margin-right: 0%;
    }
    .header-text h1{
        text-align: right;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 40px;
    }
    .header-text p{
        text-align: left;
        margin-top:  0;
        margin-bottom: 0;
        font-size: 20px;
    }
    .header-text .p2{
        text-align: center;
        font-size: 15px;
    }
    .profile{
        margin-top: 20%;
        margin-left: 56px;
        margin-right: 56px;
    }
    .profile p{
        font-size: 14pt;
    }
    /* ----------------About section------------------- */
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .about-col-1{
        flex-basis: 100%;
    }
    .sub-title{
        margin-bottom: 20px;
    }
    .about-col-1 p{
        padding-bottom: 20px;
    }
    .about-col-2{
        flex-basis: 100%;
        height: 0;
        background: none;
        text-align: center;
    }
    .about-col-2 img{
        width: 17%;
        border-radius: 100px;
        object-fit: cover;
        position: absolute;
    }
    .profile-pic{
        border-radius: 0;
        margin-top: 0;
        float: right;
        right: 25px;
        top: 27.3%;
    }
    .sub-title{
        font-size: 40px;
        padding-bottom: 5px;
    }
    /* -----------------Project-------- */
.project-title{
    font-size: 40px;
    padding-left: 0;
}
.project-tabs-1 p{
    font-size: 12pt;
}
.row-2{
    display: flex;
    flex-direction: column;
}
.project-tabs-1{
    flex-basis: 100%;
    padding: 0;
}
.project-tabs-2{
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box-1{
    background: none;
    height: 160px;
    width: 120px;
    text-align: center;
    border-radius: 15px;
    box-shadow: none;
    margin: 15px 0;
}
.box-1 h2{
    display: none;
}
.box-1 p{
    display: none;
}
.icon{
    margin: 10px;
    border-radius: 15px;
}
.view-project{
    display: inline-block;

}
.view-project:hover{
    background-color: #e65c2b;
}
.project-links p{
    text-align: left;
    padding-left: 10px;
}
/* ------------------Contact Me------------- */
.contact-me{
    flex-direction: column;
    margin-bottom: 60px;
}
.contact-row-1{
    background: none;
    height: 0;
    border-radius: 0;
    flex-basis: 100%;
}
.contact-row-1{
    margin-left: 0;
}
.contact-icon{
    display: flex;
}
.contact-icon li{
    padding: 10px;
}
.contact-information{
    display: none;
}
.contact-row-2{
    flex-basis: 100%;
    margin-right: 0;  
}
.contact-title{
    font-size: 40px;
}
}

@media screen and (max-width:445px) and (min-width:401px){
    .about-col-2 img{
        display: none;
    }
    .profile-pic{
        display: none;
        /* border-radius: 0;
        margin-top: 0;
        float: right;
        right: 25px;
        top: 10%; */
    }
}

/* media query'--------------------------2 */
@media screen and (max-width: 400px){
    *{
        overflow-x: hidden;
    }
    body{
        position:relative;
    }
    nav{
        height: 90px;
        padding: 0 15px;
        width: 100%;
        flex-direction: column;
        /* border: 2px solid blue;
        justify-content: flex-start;
        position:fixed !important;
        top:0 !important; */
        border-radius: 0;
        justify-content: center;
        /* display: inline-block; */
        position: fixed;
        top: 0;
    }
    .menu-bar-tags{
        overflow-y: visible;
    }
    .logo{
        width: 100px;
        align-items: center;
    }
    nav ul li{
        margin: 0 10px;
    }
    nav ul li a{
        font-size: 14px;
    }
    #header{
        margin-top: 90px;
        background-position: top center;
        background-size: contain;
    }
    .header-text{
        margin-top: 40%;
        margin-right: 0%;
        /* border: 1px solid blueviolet; */
    }
    .header-text h1{
        text-align: right;
        margin-top: 0;
        margin-bottom: 5px;
        font-size: 30px;
        /* border: 1px solid blue; */
    }
    .header-text p{
        text-align: right;
        margin-top:  0;
        margin-bottom: 0;
        font-size: 20px;
        /* border: 1px solid red; */
    }
    .header-text .p2{
        text-align: center;
        font-size: 15px;
        /* border: 1px solid white; */
    }
    .profile{
        margin-top: 20%;
        margin-left: 56px;
        margin-right: 56px;
        /* border: 1px solid white; */
    }
    .profile p{
        font-size: 14pt;
        /* text-align: center; */
    }
    /* ----------------About section------------------- */
    .row{
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
        margin-top: 10px;
    }
    .about-col-1{
        flex-basis: 100%;
    }
    .sub-title{
        margin-bottom: 20px;
    }
    .about-col-1 p{
        padding-bottom: 20px;
    }
    .about-col-2{
        flex-basis: 100%;
        height: 0;
        background: none;
        text-align: center;
    }
    .about-col-2 img{
        width: 17%;
        border-radius: 100px;
        object-fit: cover;
        position: absolute;
    }
    .profile-pic{
        display: block;
        border-radius: 0;
        margin-top: 0;
        float: right;
        right: 25px;
        top: 26.8%;
    }
    .sub-title{
        font-size: 40px;
        padding-bottom: 5px;
    }

/* -----------------Project-------- */
.project-title{
    font-size: 40px;
    padding-left: 0;
}
.project-tabs-1 p{
    font-size: 12pt;
}
.row-2{
    display: flex;
    flex-direction: column;
}
.project-tabs-1{
    flex-basis: 100%;
    padding: 0;
}
.project-tabs-2{
    flex-basis: 100%;
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin-top: 10px;
}
.box-1{
    background: none;
    height: 140px;
    width: 100px;
    text-align: center;
    border-radius: 15px;
    box-shadow: none;
    margin: 15px 0;
}
.box-1 h2{
    display: none;
}
.box-1 p{
    display: none;
}
.icon{
    margin: 10px;
    border-radius: 15px;
}
.view-project{
    display: inline-block;

}
.view-project:hover{
    background-color: #e65c2b;
}
.project-links p{
    text-align: left;
    padding-left: 10px;
}
/* ------------------Contact Me------------- */
.contact-me{
    flex-direction: column;
    margin-bottom: 60px;
}
.contact-row-1{
    background: none;
    height: 0;
    border-radius: 0;
    flex-basis: 100%;
}
.contact-row-1{
    margin-left: 0;
}
.contact-icon{
    display: flex;
}
.contact-icon li{
    padding: 10px;
}
.contact-information{
    display: none;
}
.contact-row-2{
    flex-basis: 100%;
    margin-right: 0;  
}
.contact-title{
    font-size: 40px;
}
}

@media screen and (max-width:400px){
    .tab-titles{
        display: none;
    }
    .tab-links{
        display: block;
    }
    .teb-contents{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tab-contents{
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 5px;
        margin: 0;
    }
    .tab-contents:nth-child(1)::before {
        content: "Education";
    }

    .tab-contents:nth-child(2)::before {
        content: "Hard Skills";
    }

    .tab-contents:nth-child(3)::before {
        content: "Soft Skills";
    }

    .tab-contents::before {
        display: block;
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        background: rgba(75, 203, 241, 0.8);
        padding: 10px;
        border-radius: 10px;
    }
}

@media screen and (max-width:480px){
    .tab-titles{
        display: none;
    }
    .tab-links{
        display: block;
    }
    .teb-contents{
        display: flex;
        flex-direction: column;
        width: 100%;
    }
    .tab-contents{
        display: block;
        width: 100%;
        text-align: left;
        position: relative;
        padding: 5px;
        margin: 0;
    }
    .tab-contents:nth-child(1)::before {
        content: "Education";
    }

    .tab-contents:nth-child(2)::before {
        content: "Hard Skills";
    }

    .tab-contents:nth-child(3)::before {
        content: "Soft Skills";
    }

    .tab-contents::before {
        display: block;
        font-weight: bold;
        color: white;
        font-size: 20px;
        margin-bottom: 5px;
        text-align: center;
        background: rgba(75, 203, 241, 0.8);
        padding: 10px;
        border-radius: 10px;
    }

}
